.chat-container {
    width: 50%;
    min-width: 25%;
    background-color: darkgray;
}

.chat-messages {
    height: calc(100% - 85px);
    padding: 20px 10px;
}

.chat-box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yt-chat-button {
    right: 10px;
    top: 2px;
    font-size: x-large;
}

.chat-input {
    width: 92%;
    padding: 10px 30px 10px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.message-incoming, .message-outgoing {
    display: flex;
    align-items: center;
    justify-content: end;
}

.message-incoming {
    justify-content: start;
}

.message-incoming > div, .message-outgoing > div {
    width: 25%;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    padding: 10px;
}